<div class="main-content">
    

        <h2>Events_events</h2>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                    <th>Example</th>
                </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
    
</div>
